:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*стили для header*/
header {
  display: flex;             
    justify-content: center;   
    align-items: center;        
    height: 76px; 
    color: #FF6B00;  
    margin-bottom: 48px;  
    line-height: 12px;     
}
/**/
/*стили для главной страницы*/
.post__group{
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;   
  align-items: center;  
}
/**/
/*стили для страницы постов*/
/**/
/*стили для компонента post*/
.post {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 24px;
}

.post__info {
 display: flex;
 gap: 8px;
 align-items: center;
}

.post__info__comments {
  color: #FF6B00;
  text-decoration: underline;
}

.post__info__comments:hover {
  color: #FF6B00;
  text-decoration: underline;
  opacity: 0.7;
  transition: opacity 0.3s;
}

/**/
/*стили для компонента Rating*/
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 1px;
  width: 193px;
  height: 27px;
  border-radius: 30px; /* Это закругление для всего контейнера */
}

.rating__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px 8px 12px;
  gap: 6px;
  width: 95px;
  height: 27px;
  background: rgba(4, 4, 5, 0.04);
  border: none;
  border-top-left-radius: 30px; /* Закругление только с левой стороны */
  border-bottom-left-radius: 30px; /* Закругление только с левой стороны */
}

.rating__dislikes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px 8px 12px;
  gap: 6px;
  width: 97px;
  height: 27px;
  background: rgba(4, 4, 5, 0.04);
  border: none;
  border-top-right-radius: 30px; /* Закругление только с правой стороны */
  border-bottom-right-radius: 30px; /* Закругление только с правой стороны */
}
/**/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
